body {
    padding-top: 70px;
}
img {
    width: 100%;
    border: 1px solid #c0c0c0;
}

output {
    display: inline-block;
}

div.kuva {
    float: left;
/*    width: 300px;*/
    margin: 20px;
    padding: 10px;
    border: 1px solid #c0c0c0;
}
